* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 200px;
}
.preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}
.preloader_content {
  height: 100px;
  width: 100px;
  border: 10px solid rgb(243, 243, 243);
  border-radius: 50%;
  border-left-color: rgb(0, 132, 255);
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes animate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
